extends layout

block content
	br 

	.container
		.row
			.col-md-2
				.navbar-default.sidebar(role='navigation')
					.sidebar-nav.navbar-collapse
						ul#side-menu.nav
							li.sidebar-search
								.input-group.custom-search-form
									input.form-control(type='text', placeholder='Search...')
									span.input-group-btn
										button.btn.btn-default(type='button')
											i.fa.fa-search
							.col-md-3
							form.form-horizontal(role='form', method='POST')
								input(type='hidden', name='_csrf', value=_csrf)
								.form-group
									label(class='col-sm-2 control-label',for='userDistance3') Distance
									.col-sm-8
										input.form-control(type='number', name='userDistance3', id='userDistance3', value=2)
								.form-group
									.col-sm-offset-2.col-sm-8
										button.btn.btn-primary(type='submit')
											i.fa.fa-search
											| Search
			.col-md-10
				.col-md-6-offset-6
					h1(align='right')
						| #{doc1.length} Matches!	
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			.col-md-12
				.item
					.row
						each match in doc1
							.col-md-3
								.row
									.col-md-6
										h4
											|#{match.name}
									.col-md-2-offset-4
										h5
											|Distance: #{match.distance} miles
									//- .col-md-1-offset-2
									//- 	h5
									//- 		| #{match.person.birth_date}
								
								#caro.carousel.slide(data-ride='carousel')
									//- ol.carousel-indicators
									//- 	li.active(data-target='#caro', data-slide-to='0')
									//- 	li(data-target='#caro', data-slide-to='1')
									//- 	li(data-target='#caro', data-slide-to='2')
									.carousel-inner(role= 'listbox')
										.item.active
											img(src= '#{match.photos[0].url}', alt='Image', style='max-width:100%;height: 250px')
										- for (var x = 1; x < match.photos.length; x++)
											.item
												img(src= '#{match.photos[x].url}', alt='Image', style='max-width:100%;height: 250px')
										each i in match.photos 
											.item
												img(src= '#{i.url}', alt='Image', style='max-width:100%;height: 250px')
									a.left.carousel-control(href='#caro', role='button', data-slide='prev')
										span.glyphicon.glyphicon-chevron-left
									a.right.carousel-control(href='#caro', role='button', data-slide='next')
										span.glyphicon.glyphicon-chevron-right
									//img(src= '#{match.photos[0]}', alt='#{match.name}', style='max-width:100%; height: 250px')
								.row
									p
										|Birthday #{match.birthday}
								.row
									p
										| Last Activitity #{match.lastTinderActivity}
									//- if (photo.messages[0].message)
									//- 	|		#{photo.messages[0].message}
	style.
		#map-canvas {
		height: 400px;
		margin: 0px;
		padding: 0px
		}
		#age{
		position: 'absolute';
		right: 0;
		top: 0;
		}
		.center{
		width: 150px;
		margin: 40px auto;
	
		}
		.spinner {
		width: 100px;
		}
		.spinner input {
			text-align: right;
		}
		.input-group-btn-vertical {
			position: relative;
			white-space: nowrap;
			width: 1%;
			vertical-align: middle;
			display: table-cell;
		}
		.input-group-btn-vertical > .btn {
			display: block;
			float: none;
			width: 100%;
			max-width: 100%;
			padding: 8px;
			margin-left: -1px;
			position: relative;
			border-radius: 0;
		}
		.input-group-btn-vertical > .btn:first-child {
			border-top-right-radius: 4px;
		}
		.input-group-btn-vertical > .btn:last-child {
			margin-top: -2px;
			border-bottom-right-radius: 4px;
		}
		.input-group-btn-vertical i{
			position: absolute;
			top: 0;
			left: 4px;
		}
	